.resume{

    .resume-item {
     padding: 0 0 20px 20px;
     margin-top: -2px;
     border-left: 2px solid rgba(116, 34, 34, 0.2);
     position: relative;
    }
    
    .resume-item::before {
     content: "";
     position: absolute;
     background-image: url('path_to_your_image_file.png');
     background-size: cover; 
     width: 16px;
     height: 16px;
     border-radius: 50px;
     left: -9px;
     top: 0;
     background: #818181;
    }
}


