.index_page{
    .description_section{
        .header_img{
            .bgimg{
                width: 100%;
                height: 50px;
            }

        }
    }
    .scroll_top{
        .inner_div{

            position: fixed;
    bottom: 0;
    right: 0;
    z-index: 600;
    display: flex;
    justify-content: center;
    align-items: center;
        }
       
    }
}