.header_section {
  .breadcrumb {
    .breadcrumb-item a {
      color: rgb(107, 107, 107);
      text-decoration: none;
      font-weight: 400;
      font-size: 15px;
      float: left;
      text-align: end;
    }
  }
}
