.skills_section{
    .progress_section{

        p{
            padding-top: 3px;
            padding-left: 9px;
            font-weight: 600;
            color: rgba(102, 102, 102, 0.685);

        }
    }
}

